@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  border: 0;
  margin: 0;
}
:root {
  --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --input-errors: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
}
#main-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 230px);
}
.left-panel {
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#cvv_side_card {
  min-width: 70%;
  min-height: 150px;
  position: absolute;
  top: 3.18rem;
  right: 1.5rem;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.5rem;
  display: flex;
}
#cvv {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 82%;
}
#front_side_card {
  min-width: 57%;
  max-width: 82%;
  min-height: 150px;
  position: relative;
  top: 8.5rem;
  left: 1.5rem;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.5rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 100;
}
.front_card_logo {
  width: 10%;
  margin-left: 1.01rem;
  padding: 1.2rem;
}
.card_number {
  margin-left: 2.05rem;
  font-size: 1em;
}
.card_holder_name_and_date {
  display: flex;
  justify-content: space-around;
  width: 82%;
  font-size: 0.65rem;
  text-transform: uppercase;
}
.right-panel {
  background-color: var(--white);
  grid-column: 1/5;
  grid-row: 2/4;
  border: 2px dotted red;
  display: flex;
  align-self: center;
}
input[type="text"] {
  border: 2px solid  hsl(252deg 25% 90%);
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 0.45rem;
}
input[type="text"]:focus{
  border: 2px solid  hsl(278, 94%, 30%);
}
input[name*="exp_date"] {
  width: 20%;
}
.form-controls{
  display: flex;
  flex-direction: column;
}
.fl-row{
  flex-direction: row;
}
label{
  font-size: 0.95rem;
  margin-left: 0.62rem;
  text-transform: uppercase;
}
#exp_date_id{
  width: 53%;
}
@media screen and (min-width: 962px) {
  #main-grid {
    display: grid;
    grid-template-columns: 500px repeat(3, auto);
    grid-template-rows: repeat(5, 251px);
  }
  .left-panel {
    grid-column: 1/2;
    grid-row: 1/6;
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right-panel {
    background-color: var(--white);
  }
}
